aside{
  position: fixed;
  left: 60px;
  top: calc(50% - 47px);
}
aside ul{

}
aside ul li{
  
}

aside ul li.rogo:nth-child(1)::before{  
  content: "홈";  
  position: absolute;
  font-size: 14px;
  left: 25px;
  bottom: 122px;
}
aside ul li.rogo:nth-child(2)::before{  
  content: "고민이 있나요?";  
  position: absolute;
  font-size: 14px;
  left: 25px;
  bottom: 88px;
  display: block;
  width: 100px;
  height: 10px;
  display: none;
  color: #fff;
}
aside ul li.rogo:nth-child(3)::before{  
  content: "코치유 진행방식";  
  position: absolute;
  font-size: 14px;
  left: 25px;
  bottom: 56px;
  display: block;
  width: 110px;
  height: 10px;
  display: none;
}
aside ul li.rogo:nth-child(4)::before{  
  content: "코치유 프로그램";  
  position: absolute;
  font-size: 14px;
  left: 25px;
  bottom: 24px;
  display: block;
  width: 110px;
  height: 10px;
  display: none;
}
aside ul li:not(last-child){
  margin-bottom: 25px;
}
aside ul li a{   
  font-size: 0;
  width: 6px;
  height: 6px;
  display: block;
  background-color: #ccc;
  border-radius: 50%; 
}
.borderB,.borderW{
  background-image: url(../img/nav_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  font-size: 0;
  background-color: transparent;
  border-radius: 0;
}
.borderB::before{
  content: "";
  display: block;
  border-top: 1px solid #000;
  width: 38px;
  position: relative;
  top: 4px;
  right: 56px;
}
.borderW::before{
  content: "";
  display: block;
  border-top: 1px solid #fff;
  width: 38px;
  position: relative;
  top: 4px;
  right: 56px;
}
.currentW{
  background-color: white; 
}